Source: mmc
Section: science
Priority: optional
Maintainer: Rainer Poisel <rpoisel@fhstp.ac.at>, Markus Mannel <ptmmannel@fhstp.ac.at>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://www.digitalforensics.at
#Vcs-Git: git://git.debian.org/collab-maint/fredi-0.2.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/fredi-0.2.git;a=summary

Package: mmc
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-magic, ffmpeg, sleuthkit, zlib1g, python-imaging, python-pyside (>= 1.0.6)
Description: MultiMedia Carver
 Lorem ipsum dolor, bla bla
 .
 Bla bla, bla, bla, bla, bla, bla, bla
 Bla bla, bla, bla, bla, bla, bla, bla
 Bla bla, bla, bla, bla, bla, bla, bla
 Bla bla, bla, bla, bla, bla, bla, bla
 Bla bla, bla, bla, bla, bla, bla, bla

Package: mmc-doc
Architecture: all
Description: Documentation for MMC
 Bla, I'm the documentation. You want more?
